{% if paginate.pages > 1 %}
  <nav class="pagination" role="navigation" aria-label="Pagination">
    {% if paginate.previous %}
      <a href="{{ paginate.previous.url }}">Previous</a>
    {% endif %}

    <span>Page {{ paginate.current_page }} of {{ paginate.pages }}</span>

    {% if paginate.next %}
      <a href="{{ paginate.next.url }}">Next</a>
    {% endif %}
  </nav>
{% endif %}
