<section class="section">
  <div class="page-width page-narrow">
    <h1>{{ page.title }}</h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "settings": []
}
{% endschema %}
