<section class="section">
  <div class="page-width page-narrow">
    <h1>Page not found</h1>
    <p>The page you requested does not exist.</p>
    <a class="button" href="{{ routes.root_url }}">Return home</a>
  </div>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
